[Unit]
Description=Gunicorn instance to serve application
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/AirBnb_clone_v4
Environment="PATH=/home/ubuntu/AirBnb_clone_v4/.venv/bin"
ExecStart=/home/ubuntu/AirBnb_clone_v4/.venv/bin/gunicorn --workers 3 --bind 0.0.>
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
